Repository NakashimaYuki/halogenator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-imports, schema-validation

python-imports:
  name: Python Import Check
  entry: python -c "from src.halogenator import cli, enumerate_k1, sites, rules, schema; print('Core imports OK')"
  language: system
  pass_filenames: false
  stages:
  - commit

schema-validation:
  name: Schema Validation Check
  ...

fix: restore PR2 defaults and sugar acceptance; keep Gate-1 parity
  .pre-commit-config.yaml
  src/halogenator/enumerate_k.py
  src/halogenator/schema.py
  src/halogenator/sites.py
  src/halogenator/sugar_mask.py
  tests/test_p1_r2_sites.py
Due: python-imports, schema-validation

feat: NP per-class halogenation pipeline with permissive strategy - POC validated
  POC_ANALYSIS_PERMISSIVE_STRATEGY.md
  PocReport_aa_peptide_k2.md
  PocReport_alkaloid_k2.md
  PocReport_glycoside_k2.md
  PocReport_lipid_k2.md
  PocReport_polyphenol_k2.md
  PocReport_terpenoid_k2.md
  configs/halogen_rules_by_class.yaml
  scripts/02_partition_nplike_by_class.py
  scripts/03_enum_halogen_poc.py
  scripts/04_enum_halogen_all_classes.py
  scripts/update_permissive_config.py
  src/halogenator/class_config.py
  src/halogenator/cli.py
Due: python-imports

fix: complete sugar_mask implementation for k=1 enumeration - VALIDATED
  SESSION_HANDOFF_SUGAR_MASK_FIX_2025-12-09.md
  SUGAR_MASK_IMPLEMENTATION_COMPLETE.md
  SUGAR_MASK_ROOT_CAUSE_ANALYSIS.md
  src/halogenator/enumerate_k1.py
Due: python-imports

feat: shuffle-based rechunking solution for timeout issues - PRODUCTION READY
  chunk_complexity_analysis.json
  chunk_complexity_visualization.png
  scripts/diagnosis/diagnose_chunk_complexity.py
  scripts/diagnosis/verify_shuffled_chunks.py
  scripts/diagnosis/visualize_chunk_complexity.py
  scripts/production/shuffle_rechunk.py
  test_shuffled_chunk.bat
Due: none

feat: add Linux environment setup files
  LINUX_SETUP.md
  environment.yml
  requirements.txt
Due: none

docs: add quick start guide for Linux server
  QUICK_START_LINUX.md
Due: none

Fix/pr2 contract and sugar accept (#4)
  LINUX_SETUP.md
  QUICK_START_LINUX.md
  environment.yml
  requirements.txt
Due: none

Path conditions:
  python-imports: any of: ^src/halogenator/.*\.py$
  schema-validation: any of: ^src/halogenator/schema\.py$
